
<nav class="navbar navbar-light bg-light mb-3">
    <div class="container-fluid">
        <h1 class="ms-3 display-6">Hello, world!&nbsp;</h1>
        <a class="navbar-brand me-auto" href="https://github.com/strangelights/techdegree-playground" target="_blank">
            <i class="bi-github" role="img" aria-label="GitHub"></i>
        </a>
        <form method="GET" action="index.php" class="row row-cols-lg-auto g-3 align-items-center justify-content-end card-body">
            <div class="col-12">
                <input type="text" name="s" id="s" class="form-control col-12" placeholder="Search">    
            </div>  
            <div class="col-12">
                <input type="submit" value="Go" class="btn btn-outline-primary btn-sm">
            </div>
        </form>
    </div>
</nav>
