
<nav class="navbar navbar-light bg-light mb-3">
    <h1 class="ms-3">Hello, world!</h1>
    <form method="GET" action="index.php" class="row row-cols-lg-auto g-3 align-items-center justify-content-end card-body">
        <div class="col-12">
            <input type="text" name="s" id="s" class="form-control col-12" placeholder="Search">    
        </div>  
        <div class="col-12">
            <input type="submit" value="Go" class="btn btn-outline-primary btn-sm">
        </div>
    </form>
</nav>